WeaveServices/src/weave/config/sqlconfig.dtd

<!ELEMENT sqlConfig (databaseConfig*, connection*,accessLog*,geometryCollection*,dataTable*)*>
<!ATTLIST sqlConfig serverName CDATA "Open Indicators Server"><!-- the name of the server, can be anything -->
<!ATTLIST sqlConfig includeGeometryInTable CDATA "true"><!-- to show/hide geometry column under data table of same name -->

<!ELEMENT databaseConfig EMPTY><!-- defines a connection for an SQL server -->
<!ATTLIST databaseConfig connection CDATA "">
<!ATTLIST databaseConfig schema CDATA "">
<!ATTLIST databaseConfig geometryConfigTable CDATA "">
<!ATTLIST databaseConfig dataConfigTable CDATA "">

<!ELEMENT connection EMPTY><!-- defines a connection for an SQL server -->
<!ATTLIST connection name CDATA ""><!-- an identifying name for this connection (used for signing in to the admin console and referenced elsewhere in the xml) -->
<!ATTLIST connection dbms CDATA #REQUIRED><!-- type of SQL server (dbms = DataBase Management System): mysql, postgresql, ... -->
<!ATTLIST connection ip CDATA ""><!-- ip address of SQL server -->
<!ATTLIST connection port CDATA #IMPLIED><!-- port to use when connecting to SQL server -->
<!ATTLIST connection database CDATA ""><!-- name of database to connect to -->
<!ATTLIST connection user CDATA ""><!-- username to use when connecting to SQL server -->
<!ATTLIST connection pass CDATA ""><!-- password for SQL server and Admin Console sign-in -->
<!ATTLIST connection is_superuser CDATA "true"><!-- when true, grants permission to manage everything. default true for backwards compatibility -->
<!ATTLIST connection folderName CDATA ""><!-- user's folder's name inside docroot -->
<!ATTLIST connection connectString CDATA ""><!-- SQL connect string, overrides all other sql settings for this connection entry (dbms,ip,port,user,pass) -->

<!ELEMENT accessLog EMPTY><!-- defines the location of a SQL table used to store logging information -->
<!ATTLIST accessLog connection CDATA ""><!-- the name of the connection to use when logging access information -->
<!ATTLIST accessLog schema CDATA #REQUIRED><!-- the name of the schema the log table is in. for example, "weave" as in weave.accessLog -->
<!ATTLIST accessLog table CDATA #REQUIRED><!-- the name of the log table. for example, "accessLog" as in weave.accessLog -->

<!ELEMENT geometryCollection EMPTY><!-- defines a set of geographic shapes -->
<!ATTLIST geometryCollection name CDATA #REQUIRED><!-- an identifying name for this geometryCollection -->
<!ATTLIST geometryCollection connection CDATA ""><!-- the name of the connection to use when accessing the tables associated with this geometryCollection -->
<!ATTLIST geometryCollection schema CDATA #REQUIRED><!-- specifies the SQL schema where the shapes are stored -->
<!ATTLIST geometryCollection tablePrefix CDATA #REQUIRED><!-- specifies the prefix of the SQL tables where the shapes are stored -->
<!ATTLIST geometryCollection keyType CDATA ""><!-- specifies the type of the keys in this geometryCollection ("is it a county code or a state code?") -->
<!ATTLIST geometryCollection keyUnitType CDATA ""><!-- DEPRECATED. Use keyType instead. -->
<!ATTLIST geometryCollection importNotes CDATA ""><!-- optional, notes generated by the import utility -->
<!ATTLIST geometryCollection projection CDATA ""><!--  -->

<!ELEMENT dataTable (attributeColumn*)><!-- a dataTable consists of a list of attributeColumn entries -->
<!ATTLIST dataTable name CDATA #REQUIRED><!-- an identifying name for this dataTable -->
<!ATTLIST dataTable connection CDATA ""><!-- the connection to use when accessing the columns in this dataTable -->
<!ATTLIST dataTable format CDATA "SQL(keys,data)"><!-- (DEPRECATED) specifies the format returned by the attributeColumn queries in this dataTable -->
<!ATTLIST dataTable keyType CDATA ""><!-- specifies the type of the keys in this dataTable ("is it a county code or a state code?") must match up with a geometryCollection keyType if you want to map the data to shapes -->
<!ATTLIST dataTable keyUnitType CDATA ""><!-- DEPRECATED. Use keyType instead. -->
<!ATTLIST dataTable geometryCollection CDATA ""><!-- alternate way to specify keyType, use an existing geometryCollection name instead -->

<!ELEMENT attributeColumn EMPTY><!-- an attributeColumn is a mapping from keys to data -->
<!ATTLIST attributeColumn name CDATA #REQUIRED><!-- an identifying name for this attributeColumn -->
<!ATTLIST attributeColumn dataType CDATA ""><!-- specifies the primitive type of the data column -->
<!ATTLIST attributeColumn dataWithKeysQuery CDATA #REQUIRED><!-- the SQL query used to retrieve two columns: keys and data. -->
<!ATTLIST attributeColumn min CDATA ""><!-- optional min value metadata -->
<!ATTLIST attributeColumn max CDATA ""><!-- optional max value metadata -->
<!ATTLIST attributeColumn year CDATA ""><!-- optional year value metadata -->
<!ATTLIST attributeColumn geometryCollection CDATA ""><!-- alternate way to specify keyType, use an existing geometryCollection name instead -->
<!ATTLIST attributeColumn dataTable CDATA ""><!-- optional, specifies what dataTable this column belongs to -->
<!ATTLIST attributeColumn keyType CDATA ""><!-- specifies the type of the keys in this dataTable ("is it a county code or a state code?") must match up with a geometryCollection keyType if you want to map the data to shapes -->
<!ATTLIST attributeColumn connection CDATA ""><!-- the connection to use when accessing this column -->
<!ATTLIST attributeColumn title CDATA ""><!-- the column's display name -->

<!-- These entities are used as keyType values -->
<!ENTITY iso_alpha3 "ISO ALPHA-3 Country Code">
<!ENTITY fips_state "US State FIPS Code">
<!ENTITY fips_county "US County FIPS Code">
<!ENTITY fips_cousub "US County Subdivision FIPS Code">
<!ENTITY fips_place "US Place FIPS Code">
<!ENTITY us_census_tract "US Census Tract ID">
<!ENTITY us_ma_town "Massachusetts Town ID">
<!ENTITY us_ma_boston_parcel "Boston Parcel ID">
<!ENTITY us_ga_atlanta_superdistrict "Atlanta Superdistrict ID">
<!ENTITY us_ga_atlanta_taz "Atlanta Transportation Analysis Zone ID">
<!ENTITY us_zip5_2000 "5-Digit Zip Code (Year 2000)">
<!ENTITY us_il_chicago_municipality "Chicago Municipality Code">
<!ENTITY us_ri_school_district "Rhode Island School District">
<!ENTITY us_subbasin "US Subbasin Code">
<!ENTITY us_lower_house_dist "US Lower House District">
<!ENTITY us_upper_house_dist "US Upper House District">
<!ENTITY us_house_dist "US House District">
<!ENTITY us_voting_dist "US Voting District">
